<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lag_Switch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Lag_Switch.My.MySettings>
            <setting name="topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lagged" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Lag_Switch.My.MySettings>
    </userSettings>
</configuration>